<div class="flex flex-col h-full">
    <div class="flex flex-row">
            <div class="grid grid-cols-2 gap-5">
                <div class="form-control w-full w-96">
                    <label class="label">
                        <span class="label-text">Customer Code</span>
                        <span ng-if="this.selectCustomer!=Regular" class="label-text">Required</span>
                    </label>
                    <input type="text" placeholder="Type here" ng-required="this.selectCustomer!=Regular" 
                     (keyup.enter)="getCustomerdetails()" [(ngModel)]="this.customerInfo.customerCode" 
                        class="bg-white input input-md input-bordered w-full w-96 rounded text-black" />
                </div>
                <div class="form-control w-full  w-96">
                    <label class="label">
                        <span class="label-text">Customer Name</span>
                    </label>
                    <input type="text" placeholder="Type here" [(ngModel)]="this.customerInfo.name" 
                        class="bg-white input input-md input-bordered w-full w-96 rounded text-black" />
                </div>
                <div class="form-control w-full  w-96">
                    <label class="label">
                        <span class="label-text">Organization Code</span>
                    </label>
                    <input placeholder="Type here" [(ngModel)]="this.customerInfo.OrganizationCode" 
                        class="bg-white input input-md input-bordered w-full w-96 rounded text-black" />
                </div>
                <div class="form-control w-full  w-96">
                    <label class="label">
                        <span class="label-text">Organization Name</span>
                    </label>
                    <input placeholder="Type here" [(ngModel)]="this.customerInfo.OrganizationName"
                        class="bg-white input input-md input-bordered w-full w-96 rounded text-black" />
                </div>
                <div class="form-control w-full  w-96">
                    <label class="label">
                        <span class="label-text">Phone Number</span>
                    </label>
                    <input type="number" placeholder="Type here" [(ngModel)]="this.customerInfo.contactNumber" 
                        class="bg-white input input-md input-bordered w-full  w-96 rounded text-black" />
                </div>
            </div>
    </div>