<br>
<div class="flex flex-row">
  <label class="input-group input-group-vertical">
    <span class="first:rounded-none first:rounded-tl">Search</span>
    <input
      [(ngModel)]="this.searchQuery"
      type="text"
      placeholder="Filter"
      class="input input-bordered w-full
      focus:outline-none focus:bg-base-300
      last:rounded-none"
      (ngModelChange)="this.updateTable()"
    />
  </label>
  <label class="input-group input-group-vertical">
    <span class="first:rounded-none">Start Date</span>
    <input
      [ngModel]="this.startDate | date:'yyyy-MM-dd'"
      (ngModelChange)="this.startDate = this.setDate($event); this.updateTable();"
      type="date"
      (keydown)="false"
      class="input input-bordered w-full
      focus:outline-none focus:bg-base-300
      last:rounded-none"

    />
  </label>
  <label class="input-group input-group-vertical">
    <span class="first:rounded-none first:rounded-tr">End Date</span>
    <input
    [ngModel]="this.endDate | date:'yyyy-MM-dd'"
    (ngModelChange)="this.endDate = this.setDate($event); this.updateTable();"
      type="date"
      (keydown)="false"
      class="input input-bordered w-full
      focus:outline-none focus:bg-base-300
      last:rounded-none"
    />
  </label>
  <label class="input-group input-group-vertical">
    <span class="first:rounded-none first:rounded-tr">Get Today's transactions</span>
    <button
    (click)="getTodaysTransactions()"
    class="input input-bordered w-full
      focus:outline-none focus:bg-base-300
      last:rounded-none"
    >TODAY</button>
  </label>
  <label class="input-group input-group-vertical">
    <span class="first:rounded-none first:rounded-tr">Get This week's transactions</span>
    <button
    (click)="getThisWeeksTransactions()"
    class="input input-bordered w-full
      focus:outline-none focus:bg-base-300
      last:rounded-none"
    >THIS WEEK</button>
  </label>
  <label class="input-group input-group-vertical">
    <span class="first:rounded-none first:rounded-tr">Get This month's transactions</span>
    <button
    (click)="getThisMonthsTransactions()"
    class="input input-bordered w-full
      focus:outline-none focus:bg-base-300
      last:rounded-none"
    >THIS MONTH</button>
  </label>
</div>
<!-- <table datatable [dtOptions]="this.dtOptions" [dtTrigger]="this.dtTrigger" class="row-border hover compact stripe">
    <thead>
      <tr class="bg-base-100">
        <th class="text-white">Transaction ID</th>
        <th class="text-white">Seller First name</th>
        <th class="text-white">Seller Last name</th>
        <th class="text-white">Date</th>
        <th class="text-white">Customer Name</th>
        <th class="text-white">Customer Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trans of this.posFilteredTransactions">
        <td class="text-black"><a class="hover:underline" href="https://templates.invoicehome.com/receipt-template-us-classic-white-750px.png" target="_blank" rel="noreferrer">
          {{ trans.transactionId }}
        </a> </td>
        <td class="text-black">{{ trans.userInfo.firstName }}</td>
        <td class="text-black">{{ trans.userInfo.lastName }}</td>
        <td class="text-black">{{ trans.transactionDate.toDateString() }}</td>
        <td class="text-black">{{ trans.customerInfo.name }}</td>
        <td class="text-black">{{ this.getCustomerType(trans.customerInfo.customerType) }}</td>
      </tr>
      <tr *ngFor="let trans of this.reviewList">
        <td class="text-black"><a class="hover:underline" href="https://templates.invoicehome.com/receipt-template-us-classic-white-750px.png" target="_blank" rel="noreferrer">
          {{ trans.transactionId }}
        </a> </td>
        <td class="text-black">{{ trans.userInfo.firstName }}</td>
        <td class="text-black">{{ trans.userInfo.lastName }}</td>
        <td class="text-black">{{ trans.transactionDate.toDateString() }}</td>
        <td class="text-black">{{ trans.customerInfo.name }}</td>
        <td class="text-black">{{ this.getCustomerType(trans.customerInfo.customerType) }}</td>
      </tr>
    </tbody>
</table> -->

<!-- <table datatable [dtOptions]="this.dtOptions" [dtTrigger]="this.dtTrigger" class="row-border hover compact stripe">
  <thead>
    <tr>
      <th></th>
      <th> Product Code </th>
      <th> Product Name </th>
      <th> Quantity </th>
      <th> Unit </th>
      <th> Per Unit Price </th>
      <th> Customer Name </th>
      <th> Phone Number </th>
      <th> Total Price </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of this.reviewList let i=index">
      <th>{{i+1}}</th>
      <td>{{item.productCode}}</td>
      <td>{{item.productName}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.unit}}</td>
      <td>{{item.perUnitPrice}}</td>
      <td>{{item.customerName}}</td>
      <td>{{item.customerPhone}}</td>
      <td>{{item.totalPrice}}</td>
    </tr>
  </tbody>
</table> -->

<table datatable [dtOptions]="this.dtOptions" [dtTrigger]="this.dtTrigger" class="row-border hover compact stripe">
  <thead>
    <tr>
      <th> Id </th>
      <th> Seller Name </th>
      <th> Customer Name </th>
      <th> Total Number of Products</th>
      <th> Date </th>
      <th> Total Price</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let trans of this.reviewList.reverse() let i = index">
      <th>{{this.reviewList.length - i}}</th>
      <td>User Name</td>
      <td>{{trans.customerInfo.name}}</td>
      <td>{{this.totalProducts[this.reviewList.length - i - 1]}}</td>
      <td>{{trans.transactionDate.getDate() + "/" + trans.transactionDate.getMonth() +"/"+ trans.transactionDate.getFullYear()}}</td>
      <td>{{this.totalPrice[this.reviewList.length - i - 1]}}</td>
    </tr> -->
    <tr *ngFor="let trans of this.reviewList.reverse() let i = index">
      <th><button (click)="this.onNewPageClick(trans.transactionId,trans.CustomerName,trans.CustomerId,trans.transactionDate)">{{this.reviewList.length - i}}</button></th>
      <td>{{trans.SellerName}}</td>
      <td>{{trans.CustomerName}}</td>
      <td>{{trans.TotalProducts}}</td>
      <td>{{trans.transactionDate}}</td>
      <td>{{trans.TotalPrice}}</td>
    </tr>
  </tbody>
</table>

<app-modal *ngIf="this.isNewPageModalOpen" [isModalOpen]="this.isNewPageModalOpen" (closeModal)="this.onNewPageClose()">
  <div class='flex flex-col justify-center items-center'>
        <div class='text-lg'>Review Transaction</div>
        <div class='divider m-0'></div>
  </div>
  <div class="overflow-x-auto">
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Product Code</th>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Per Unit Price</th>
          <th>Customer Name</th>
          <th>Total Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of this.selectedTransactionProductInfo let i=index">
          <th>{{i+1}}</th>
          <td>{{item.productCode}}</td>
          <td>{{item.productName}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.unit}}</td>
          <td>{{this.selectedCustomerName}}</td>
          <td>{{item.totalPrice}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-sm bg-primary gap-2 rounded" (click)="this.onClickPrint()">
    Print
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0110.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0l.229 2.523a1.125 1.125 0 01-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0021 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 00-1.913-.247M6.34 18H5.25A2.25 2.25 0 013 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 011.913-.247m10.5 0a48.536 48.536 0 00-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5zm-3 0h.008v.008H15V10.5z" />
    </svg>      
</button>
</app-modal>