<br>
<div class="flex flex-row">
  <label class="input-group input-group-vertical">
    <span class="first:rounded-none first:rounded-tl">Search</span>
    <input
      [(ngModel)]="this.searchQuery"
      type="text"
      placeholder="Filter"
      class="input input-bordered w-full
      focus:outline-none focus:bg-base-300
      last:rounded-none"
      (ngModelChange)="this.updateTable()"
    />
  </label>
  <label class="input-group input-group-vertical">
    <span class="first:rounded-none">Start Date</span>
    <input
      [ngModel]="this.startDate | date:'yyyy-MM-dd'"
      (ngModelChange)="this.startDate = this.setDate($event); this.updateTable();"
      type="date"
      (keydown)="false"
      class="input input-bordered w-full
      focus:outline-none focus:bg-base-300
      last:rounded-none"

    />
  </label>
  <label class="input-group input-group-vertical">
    <span class="first:rounded-none first:rounded-tr">End Date</span>
    <input
    [ngModel]="this.endDate | date:'yyyy-MM-dd'"
    (ngModelChange)="this.endDate = this.setDate($event); this.updateTable();"
      type="date"
      (keydown)="false"
      class="input input-bordered w-full
      focus:outline-none focus:bg-base-300
      last:rounded-none"
    />
  </label>
  <label class="input-group input-group-vertical">
    <span class="first:rounded-none first:rounded-tr">Get Today's transactions</span>
    <button
    (click)="getTodaysTransactions()"
    class="input input-bordered w-full
      focus:outline-none focus:bg-base-300
      last:rounded-none"
    >TODAY</button>
  </label>
  <label class="input-group input-group-vertical">
    <span class="first:rounded-none first:rounded-tr">Get This week's transactions</span>
    <button
    (click)="getThisWeeksTransactions()"
    class="input input-bordered w-full
      focus:outline-none focus:bg-base-300
      last:rounded-none"
    >THIS WEEK</button>
  </label>
  <label class="input-group input-group-vertical">
    <span class="first:rounded-none first:rounded-tr">Get This month's transactions</span>
    <button
    (click)="getThisMonthsTransactions()"
    class="input input-bordered w-full
      focus:outline-none focus:bg-base-300
      last:rounded-none"
    >THIS MONTH</button>
  </label>
</div>
<!-- <table datatable [dtOptions]="this.dtOptions" [dtTrigger]="this.dtTrigger" class="row-border hover compact stripe">
    <thead>
      <tr class="bg-base-100">
        <th class="text-white">Transaction ID</th>
        <th class="text-white">Seller First name</th>
        <th class="text-white">Seller Last name</th>
        <th class="text-white">Date</th>
        <th class="text-white">Customer Name</th>
        <th class="text-white">Customer Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trans of this.posFilteredTransactions">
        <td class="text-black"><a class="hover:underline" href="https://templates.invoicehome.com/receipt-template-us-classic-white-750px.png" target="_blank" rel="noreferrer">
          {{ trans.transactionId }}
        </a> </td>
        <td class="text-black">{{ trans.userInfo.firstName }}</td>
        <td class="text-black">{{ trans.userInfo.lastName }}</td>
        <td class="text-black">{{ trans.transactionDate.toDateString() }}</td>
        <td class="text-black">{{ trans.customerInfo.name }}</td>
        <td class="text-black">{{ this.getCustomerType(trans.customerInfo.customerType) }}</td>
      </tr>
      <tr *ngFor="let trans of this.reviewList">
        <td class="text-black"><a class="hover:underline" href="https://templates.invoicehome.com/receipt-template-us-classic-white-750px.png" target="_blank" rel="noreferrer">
          {{ trans.transactionId }}
        </a> </td>
        <td class="text-black">{{ trans.userInfo.firstName }}</td>
        <td class="text-black">{{ trans.userInfo.lastName }}</td>
        <td class="text-black">{{ trans.transactionDate.toDateString() }}</td>
        <td class="text-black">{{ trans.customerInfo.name }}</td>
        <td class="text-black">{{ this.getCustomerType(trans.customerInfo.customerType) }}</td>
      </tr>
    </tbody>
</table> -->

<!-- <table datatable [dtOptions]="this.dtOptions" [dtTrigger]="this.dtTrigger" class="row-border hover compact stripe">
  <thead>
    <tr>
      <th></th>
      <th> Product Code </th>
      <th> Product Name </th>
      <th> Quantity </th>
      <th> Unit </th>
      <th> Per Unit Price </th>
      <th> Customer Name </th>
      <th> Phone Number </th>
      <th> Total Price </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of this.reviewList let i=index">
      <th>{{i+1}}</th>
      <td>{{item.productCode}}</td>
      <td>{{item.productName}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.unit}}</td>
      <td>{{item.perUnitPrice}}</td>
      <td>{{item.customerName}}</td>
      <td>{{item.customerPhone}}</td>
      <td>{{item.totalPrice}}</td>
    </tr>
  </tbody>
</table> -->

<table datatable [dtOptions]="this.dtOptions" [dtTrigger]="this.dtTrigger" class="row-border hover compact stripe">
  <thead>
    <tr>
      <th> Id </th>
      <th> Seller Name </th>
      <th> Customer Name </th>
      <th> Total Number of Products</th>
      <th> Date </th>
      <th> Total Price</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let trans of this.reviewList.reverse() let i = index">
      <th>{{this.reviewList.length - i}}</th>
      <td>User Name</td>
      <td>{{trans.customerInfo.name}}</td>
      <td>{{this.totalProducts[this.reviewList.length - i - 1]}}</td>
      <td>{{trans.transactionDate.getDate() + "/" + trans.transactionDate.getMonth() +"/"+ trans.transactionDate.getFullYear()}}</td>
      <td>{{this.totalPrice[this.reviewList.length - i - 1]}}</td>
    </tr> -->
    <tr *ngFor="let trans of this.reviewList.reverse() let i = index">
      <th><button (click)="this.onNewPageClick(trans.transactionId,trans.CustomerName,trans.CustomerId,trans.transactionDate)">{{this.reviewList.length - i}}</button></th>
      <td>{{trans.SellerName}}</td>
      <td>{{trans.CustomerName}}</td>
      <td>{{trans.TotalProducts}}</td>
      <td>{{trans.transactionDate}}</td>
      <td>{{trans.TotalPrice}}</td>
    </tr>
  </tbody>
</table>

<app-modal *ngIf="this.isNewPageModalOpen" [isModalOpen]="this.isNewPageModalOpen" (closeModal)="this.onNewPageClose()">
  <div class='flex flex-col justify-center items-center'>
        <div class='text-lg'>Review Transaction</div>
        <div class='divider m-0'></div>
  </div>
  <div class="overflow-x-auto">
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Product Code</th>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Per Unit Price</th>
          <th>Customer Name</th>
          <th>Total Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of this.selectedTransactionProductInfo let i=index">
          <th>{{i+1}}</th>
          <td>{{item.productCode}}</td>
          <td>{{item.productName}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.unit}}</td>
          <td>{{this.selectedCustomerName}}</td>
          <td>{{item.totalPrice}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</app-modal>