<input [checked]="this.isModalOpen" type="checkbox" id="my-modal-3" class="modal-toggle" />
<div [ngClass]="{'ml-16':!this.layoutConfig.isSidebarExpanded, 'ml-64':this.layoutConfig.isSidebarExpanded}"
class="modal bg-white transition-all">
  <div class="modal-box rounded w-11/12 h-5/6 max-w-screen-xl max-h-screen absolute overflow-auto">
    <label for="my-modal-3" class="btn btn-sm btn-circle absolute right-2 top-2 rounded bg-error" (click)="this.onClose()">✕</label>
    <ng-content></ng-content>
  </div>
</div>