<div class="flex flex-col h-full">
    <div class="flex flex-row gap-4">
        <!-- <input type="text" #pId placeholder="Product Code" (keyup.enter)="getSelectedProductInfo()"
            [(ngModel)]="this.cartItemInfo.productInfo.productCode"
            class="bg-white input input-sm input-bordered w-200 max-w-xs rounded text-black" /> -->
        <input type="text" #pId placeholder="Product Code" (keyup.enter)="getSelectedProductInfo()"
            class="bg-white input input-sm input-bordered w-200 max-w-xs rounded text-black" />
        <input type="text" placeholder="Product Name" #pName
            class="bg-white input input-sm input-bordered w-300 max-w-xs rounded text-black"
            (keyup.enter)="searchProductNameInTheDatabase($event)" (change)="ClearProduct()" />
        <select [(ngModel)]="this.cartItemInfo.productInfo.productName" #pListName
            class="bg-white input input-sm input-bordered w-full max-w-xs rounded text-black"
            (change)="getSelectedProductInfo()">
            <option>Select Product Name</option>
            <option *ngFor="let product of productName">{{product}}</option>
        </select>
        <!-- <input type="text" placeholder="Product Serial Number"
            class="bg-white input input-sm input-bordered w-full max-w-xs rounded text-black" /> -->
        <button class="btn gap-2 btn-sm btn-primary rounded" (click)="getSelectedProductInfo()">
            Add
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path
                    d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
            </svg>
        </button>
        <button class="btn gap-2 btn-sm btn-error rounded" (click)="removeTransactions()">Remove

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd"
                    d="M8.75 1A2.75 2.75 0 006 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 10.23 1.482l.149-.022.841 10.518A2.75 2.75 0 007.596 19h4.807a2.75 2.75 0 002.742-2.53l.841-10.52.149.023a.75.75 0 00.23-1.482A41.03 41.03 0 0014 4.193V3.75A2.75 2.75 0 0011.25 1h-2.5zM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4zM8.58 7.72a.75.75 0 00-1.5.06l.3 7.5a.75.75 0 101.5-.06l-.3-7.5zm4.34.06a.75.75 0 10-1.5-.06l-.3 7.5a.75.75 0 101.5.06l.3-7.5z"
                    clip-rule="evenodd" />
            </svg>

        </button>
        <!-- <div class="flex-grow group-hover:underline" [(ngModel)]="this.price.totalAmount">
            Total Bill: {{this.price.totalAmount}}
        </div> -->
        <label class="flex-grow group-hover:underline" #tBill>
            Total Bill :
        </label>
    </div>
    <div class="divider m-0"></div>
    <div class="overflow-auto h-full">
        <div *ngFor="let item of this.transactionService.transactionInfo.cartItemList" class="grid grid-cols-1 gap-4">
            <app-cart-item [item]="item" (onItemCheckClick)="this.checkBoxChecked($event)"
                (onChangeQuantity)="this.ClearTotalPrice()" (onEnterQuantity)="this.updateTotalPrice()" (onCartonValueEnter)="this.cartonValueAdded($event)"></app-cart-item>
        </div>
        <div *ngIf="this.transactionService.transactionInfo.cartItemList.length < 1"
            class="flex items-center justify-center">No Item in the Cart
        </div>
    </div>
    <div class="divider m-0"></div>
    <div>
        <div *ngIf="!this.TogglePhone" class="flex flex-row gap-4">
            <!-- <input type="text" placeholder="Search Customer" (keyup.enter)="getCustomerdetails()"
                [(ngModel)]="this.customerInfo.customerCode"
                class="bg-white input input-sm input-bordered w-full max-w-xs rounded text-black"/> -->
                <input [disabled]="this.TogglePhone" type="text" placeholder="Search Customer"
                class="bg-white input input-sm input-bordered w-full max-w-xs rounded text-black"
                (keyup.enter)="searchCustomerNameInTheDatabase($event)" (change)="ClearCustomer()" />
            <!-- <div class="flex-grow group-hover:underline">
                {{this.customerInfo.name}}
            </div> -->
            <select #cList [(ngModel)]="this.customerInfo.name"
                class="bg-white input input-sm input-bordered w-full max-w-xs rounded text-black"
                (change)="getCustomerdetails($event)">
                <option>Select Customer</option>
                <option *ngFor="let customer of customerName">{{customer}}</option>
            </select>
            <!-- <select [(ngModel)]="this.cartItemInfo.productInfo.productName" class="bg-white input input-sm input-bordered w-full max-w-xs rounded text-black">
                <option>Select Product Name</option>
                <option *ngFor="let product of productName">{{product}}</option>
            </select> -->
            <!-- <select class="select select-bordered select-sm w-full max-w-xs rounded" (change)="null">
                <option selected value="regular">Regular</option>
                <option value="retailer">Retailer</option>
                <option value="wholesale">Wholesale</option>
            </select> -->
            <select #customerType class="select select-bordered select-sm  max-w-xs rounded" (change)="selectType()">
                <!-- <option *ngFor="let type of customerType" value="Retailer">{{type}}</option> -->
                <option value="Retailer">Retailer</option>
                <option value="Wholesale">Wholesale</option>
            </select>
            <select #userType class="select select-bordered select-sm  max-w-xs rounded" (change)="togglePhone()">
                <option selected value="Walking">Walking</option>
                <option selected value="Regular">Regular</option>
            </select>
            <button class="btn gap-2 btn-sm btn-primary rounded" (click)="this.ToggleAddCustomerModal()">
                Add
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path
                        d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                </svg>
            </button>
        </div>
        <div *ngIf="this.TogglePhone" class="flex flex-row gap-4">
            <!-- <input type="text" placeholder="Search Customer" (keyup.enter)="getCustomerdetails()"
                [(ngModel)]="this.customerInfo.customerCode"
                class="bg-white input input-sm input-bordered w-full max-w-xs rounded text-black"/> -->
                <input  type="text" placeholder="Enter Phone Number"
                class="bg-white input input-sm input-bordered w-full max-w-xs rounded text-black"
                 (change)="ClearCustomer()" />
            <!-- <div class="flex-grow group-hover:underline">
                {{this.customerInfo.name}}
            </div> -->
            
            
            <select #customerType class="select select-bordered select-sm  max-w-xs rounded" (change)="selectType()">
                <!-- <option *ngFor="let type of customerType" value="Retailer">{{type}}</option> -->
                <option value="Retailer">Retailer</option>
                <option value="Wholesale">Wholesale</option>
            </select>
            <select #userType class="select select-bordered select-sm  max-w-xs rounded" (change)="togglePhone()">
                <option selected value="regular">Walking</option>
                <option selected value="regular">Regular</option>
            </select>
            <button class="btn gap-2 btn-sm btn-primary rounded" (click)="this.ToggleAddCustomerModal()">
                Add
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path
                        d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                </svg>
            </button>
        </div>
    </div>
    <div class="divider m-0"></div>
</div>

<input [checked]="this.isAddCustomerModalOpen" type="checkbox" id="add-customer-modal" class="modal-toggle" />
<div class="modal transition-all">
    <div class="modal-box rounded w-11/12 h-5/6 max-w-screen-xl max-h-screen absolute overflow-auto">
        <label for="add-customer-modal" class="btn btn-sm btn-circle absolute right-2 top-2 rounded bg-error"
            (click)="this.ToggleAddCustomerModal()">✕</label>
        <!-- Add Customer Screen Here -->
        <div class='flex flex-col justify-center items-center'>
            <div class='text-lg'>Add Customer Page</div>
            <div class='divider m-0'></div>
        </div>
        <div class="flex flex-col auto">
            <div class="flex flex-row gap-4">
                <input #cust_name type="text" placeholder="Customer Name" class="input input-bordered input-accent w-full max-w-xs" />
                <input #cust_address type="text" placeholder="Address" class="input input-bordered input-accent w-full max-w-xs" />  
                <input #cust_city type="text" placeholder="Customer City" class="input input-bordered input-accent w-full max-w-xs" />
                <input #cust_country type="text" placeholder="Customer Country" class="input input-bordered input-accent w-full max-w-xs" />                                            
                <!-- <input type="text" placeholder="Customer Name" #pId
                    class="bg-white input input-sm input-bordered w-full max-w-xs rounded text-black" /> -->
            </div>
            <div class="divider m-0"></div>
            <div class="flex flex-row gap-4 my-3">
                <input #cust_fax type="text" placeholder="Fax" class="input input-bordered input-accent w-full max-w-xs" />
                <input #cust_mobile type="text" placeholder="Mobile" class="input input-bordered input-accent  w-full max-w-xs" />
                <input #cust_email type="email" placeholder="Email" class="input input-bordered input-accent  w-full max-w-xs" />
                <!-- <input type="radio" name="gender" value="Male" class="radio radio-accent" checked />Male
                <input type="radio" name="gender" value="Female" class="radio radio-accent" />Female    -->
            </div>
            <div class="divider m-0"></div>
            <div class="flex flex-row gap-4 my-1">
                <input #cust_credit_days type="text" placeholder="Credit Days" class="input input-bordered input-accent w-full max-w-xs" />
                <input #cust_credit_limit type="text" placeholder="Credit Limit" class="input input-bordered input-accent  w-full max-w-xs" />
            </div>
            <div class="divider m-0"></div>
            <div class="flex flex-col justify-center items-center my-3">
                <button class="btn bg-accent gap-2 rounded my-2" (click)="this.onExtraNumberClick()">
                    Add Extra Phone Number
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                        <path
                            d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                    </svg>
                </button>
                <button class="btn gap-2 rounded bg-accent" (click)="this.AddCustomerDetails()">
                    Add Customer
                </button>
            </div> 
        </div>
    </div>
</div>

<app-modal *ngIf="this.isExtraNumberModalOpen" [isModalOpen]="this.isExtraNumberModalOpen" (closeModal)="this.onExtraNumberClose()">
    <div class='flex flex-col justify-center items-center'>
        <div class='text-lg'>Add Extra Phone Number Page</div>
        <div class='divider m-0'></div>
    </div>
    <div class="flex flex-col auto">
        <div class="flex flex-row gap-4 my-10 justify-center items-center">
            <input type="text" placeholder="Enter Phone Number" class="input input-bordered input-accent w-full max-w-xs" />
        </div>
        <div class="divider m-0"></div>
        <div class="flex flex-col justify-center items-center my-10">
            <button class="btn gap-2 rounded bg-accent" >
                Add Number
            </button>
        </div> 
    </div>
</app-modal>