<div class="mockup-window border bg-base-300">
    <div class='flex flex-col justify-center items-center'>
        <div class='text-lg '>
            <h2 class="display-1">Log-In </h2>
        </div>
        <div class='divider m-0'></div>
        <div class="flex flex-col gap-6">
            <div class="m-6"></div>
            <input type="text" #uName placeholder="User Name"
                class="input input-bordered input-accent w-1000 max-w-xs" />
            <input type="password" placeholder="Password" #pass
                class="input input-bordered input-accent w-1000 max-w-xs" />
            <div *ngIf="this.alert" class="alert alert-warning shadow-lg">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-4 w-4" fill="none"
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                    </svg>
                    <span>Warning: Information is wrong!</span>
                </div>
            </div>
        </div>
        <div class="m-6"></div>
        <div class="divider m-4"></div>
        <div class="flex flex-row justify-end gap-6">
            <button (click)="this.getUserData()" class="btn gap-6 w-400 rounded">
                Log-In
            </button>
        </div>
    </div>
</div>