<div class="flex flex-row space-x-2">
    <button class="btn btn-sm bg-primary gap-2 rounded" (click)="this.onAddClick()">
        Add
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path
                d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
        </svg>
    </button>
    <button class="btn btn-sm bg-primary gap-2 rounded">
        Refresh
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"
            (click)="pst.RefreshReviewList($event)">
            <path fill-rule="evenodd"
                d="M10 4.5c-1.215 0-2.417.055-3.604.162a.68.68 0 00-.615.597 39.78 39.78 0 00-.25 3.15l1.689-1.69A.75.75 0 118.28 7.78l-2.999 3a.75.75 0 01-1.06 0l-3.001-3a.75.75 0 011.06-1.06l1.748 1.747c.042-1.141.13-2.27.264-3.386a2.18 2.18 0 011.97-1.913 41.51 41.51 0 017.477 0 2.18 2.18 0 011.969 1.913c.064.534.117 1.07.16 1.61a.75.75 0 01-1.495.12 39.518 39.518 0 00-.154-1.552.68.68 0 00-.615-.597A40.013 40.013 0 0010 4.5zm4.719 4.72a.75.75 0 011.06 0l3.001 3a.75.75 0 11-1.06 1.06l-1.748-1.747a41.309 41.309 0 01-.264 3.386 2.18 2.18 0 01-1.97 1.913 41.534 41.534 0 01-7.477 0 2.18 2.18 0 01-1.969-1.913 41.176 41.176 0 01-.16-1.61.75.75 0 011.495-.12c.041.52.093 1.037.154 1.552a.68.68 0 00.615.597 40.012 40.012 0 007.208 0 .68.68 0 00.615-.597c.124-1.038.208-2.088.25-3.15l-1.689 1.69a.75.75 0 01-1.06-1.061l2.999-3z"
                clip-rule="evenodd" />
        </svg>
    </button>
    <button class="btn btn-sm bg-primary gap-2 rounded" (click)="onNewPageClick()">
        New Page
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path
                d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
        </svg>
    </button>
</div>
<div>
    <app-point-of-sale-table #pst (finishTransaction)="this.closeModalOnFinish($event)"></app-point-of-sale-table>
</div>
<app-modal *ngIf="this.isAddModalOpen" [isModalOpen]="this.isAddModalOpen" (closeModal)="this.onClose()">
    <app-point-of-sale-add (finishTransaction)="pst.RefreshReviewList($event)"
        (finishTransaction)="this.closeModalOnFinish($event)"></app-point-of-sale-add>
</app-modal>
<app-modal *ngIf="this.isNewPageModalOpen" [isModalOpen]="this.isNewPageModalOpen" (closeModal)="this.onNewPageClose()">
    <app-new-page (finishEvent)="this.onNewPageClose()"></app-new-page>
</app-modal>

<div class="invisible">
    <div class="text-black" #receipt>
        <div class="urdu">
            <div class="text-center text-xl">
                ایسٹیمیٹ
            </div>
            <br>
            <div class="grid grid-cols-3 gap-4">
                <div class="flex flex-col gap-4 col-span-2 divide-y divide-black">
                    <div class="text-4xl">ذیام فیسٹیول ڈیکوریشن</div>
                    <div class="divider-horizontal"></div>
                    <div class="grid grid-cols-2 gap-2">
                        <div>گنپت روڈ نیو انارکلی لاھور</div>
                        <div>صدیق برادرز سیالکوٹ والے</div>
                    </div>
                    <div class="grid grid-cols-2 gap-2">
                        <div>حاجی اکبر : 03217116377</div>
                        <div>ایم رفیع : 03216139677</div>
                    </div>
                    <div class="grid grid-cols-2 gap-2">
                        <div class="col-span-2">حاجی اکبر : <span style="direction: rtl !important">04237361656 ,
                                04237361655</span></div>
                    </div>
                    <div class="grid grid-cols-2 gap-2">
                        <div>بل نمبر : <span>12</span></div>
                        <div>کسٹمر : <span>{{this.transactionInfo?.customerInfo?.name}}</span></div>
                    </div>
                </div>
                <div class="flex flex-col gap-4 divide-y divide-black">
                    <div>اڈا : <span>{{this.transactionInfo?.customerInfo?.name}}</span></div>
                    <div>پارٹی فون نمبر :<span>{{this.transactionInfo?.customerInfo?.contactNumber}}</span></div>
                    <div>تاریخ : <span>{{this.transactionInfo?.transactionDate}}</span></div>
                    <div>شہر : <span>{{this.transactionInfo?.customerInfo?.CityName}}</span></div>
                    <div> سیل بل :<span></span></div>
                </div>
            </div>
            <div class="divider before:bg-black after:bg-black"></div>
    
            <br>
        </div>
        <div>
            <table class="border-collapse border border-slate-500 min-w-full receiptTable">
                <thead>
                    <tr>
                        <th class="border border-slate-600">کل رقم</th>
                        <th class="border border-slate-600 ">ریٹ</th>
                        <th class="border border-slate-600 ">کل تعداد</th>
                        <th class="border border-slate-600 ">پیس/درجن</th>
                        <th class="border border-slate-600 ">کارٹن</th>
                        <th class="border border-slate-600 w-56">آیٹم نام</th>
                        <th class="border border-slate-600">آیٹم کوڈ</th>
                        <th class="border border-slate-600 "> نمبر</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of this.transactionInfo?.cartItemList; let i = index">
                        <td class="border border-slate-700">{{item.price*item.quantity}}</td>
                        <td class="border border-slate-700">{{item?.price}}</td>
                        <td class="border border-slate-700">{{item?.quantity}}</td>
                        <td class="border border-slate-700">{{item?.quantity}}</td>
                        <td class="border border-slate-700"></td>
                        <td class="border border-slate-700 text-center">{{item?.productInfo?.urduName}}</td>
                        <td class="border border-slate-700">{{item?.productInfo?.productCode}}</td>
                        <td class="border border-slate-700">{{i + 1}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div class="urdu">
            <div class="grid grid-cols-3 gap-4">
                <div class="flex flex-col gap-4 divide-y divide-black">
                    <div>ٹوٹل کارٹن : <span></span></div>
                    <div>پیس/درجن  :<span></span></div>
                    <div>ٹوٹل پیس/درجن  : <span></span></div>
                </div>
                <div class="flex flex-col gap-4 divide-y divide-black">
                    <div>سیل مین  : <span></span></div>
                </div>
                <div class="flex flex-col gap-4 divide-y divide-black">
                    <div>کل رقم : <span></span></div>
                    <div>رعائت :<span></span></div>
                    <div>اصل رقم : <span></span></div>
                </div>
            </div>
            
        </div>
        <br>
    </div>
</div>
