<div class="flex flex-col h-full">
    <div class="flex flex-row gap-4">
      <button class="btn gap-2 btn-sm btn-primary rounded" (click)="this.onAddClick()">
        Add
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
          </svg>
      </button>
      <!-- <button class="btn gap-2 btn-sm btn-error rounded">Remove
        
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 006 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 10.23 1.482l.149-.022.841 10.518A2.75 2.75 0 007.596 19h4.807a2.75 2.75 0 002.742-2.53l.841-10.52.149.023a.75.75 0 00.23-1.482A41.03 41.03 0 0014 4.193V3.75A2.75 2.75 0 0011.25 1h-2.5zM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4zM8.58 7.72a.75.75 0 00-1.5.06l.3 7.5a.75.75 0 101.5-.06l-.3-7.5zm4.34.06a.75.75 0 10-1.5-.06l-.3 7.5a.75.75 0 101.5.06l.3-7.5z" clip-rule="evenodd" />
          </svg>
                    
      </button> -->
    </div>
    <div class="divider m-0"></div>
    <div class="overflow-auto">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        <div *ngFor="let item of this.cartItems" class="transition-all p-4 bg-base-300 rounded hover:drop-shadow-lg hover:bg-primary cursor-pointer group">
            <div class="flex flex-row gap-4">
              <input type="checkbox" class="checkbox" />
              <div class="flex-grow group-hover:underline">
                {{item.productInfo.productCode}}: {{item.productInfo.productName}}
              </div>
              <div class="flex justify-end">{{item.quantity}} {{item.unit}}</div>
              <div class="flex justify-end">{{item.price * item.quantity}} PKR</div>
            </div>
          </div>
      </div>
      <div *ngIf="this.cartItems.length < 1" class="flex items-center justify-center">No Item in the Cart</div>
    </div>
  </div>

<input [checked]="this.isAddModalOpen" type="checkbox" id="add-item-modal" class="modal-toggle" />
<div
class="modal transition-all">
  <div class="modal-box rounded w-11/12 h-5/6 max-w-screen-xl max-h-screen absolute overflow-auto">
    <label for="add-item-modal" class="btn btn-sm btn-circle absolute right-2 top-2 rounded bg-error" (click)="this.onClose()">✕</label>
    <app-cart-item-add></app-cart-item-add>
  </div>
</div>